body {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  color: #333;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: 0.3s;
}

a:hover {
  color: #1a6dbb;
  transition: 0.3s;
}

::-moz-selection {
  color: white;
  background: #1a6dbb;
}

::selection {
  color: white;
  background: #1a6dbb;
}

.content {
  flex: 1;
}

.info {
  margin: 0 auto;
}

.info__iam {
  width: 150px;
  border-radius: 50%;
  margin-right: 15px;
  display: block;
}

.intro {
  margin-bottom: 50px;
  text-align: center;
  line-height: 40px;
}

.intro__highlight {
  background-color: #333;
  color: white;
}

.intro__highlight_red {
  background-color: darkred;
}

.intro__highlight_red:hover {
  background-color: red;
}
